<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>add Emp</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css"
			href="css/style.css" />
	</head>

	<body>
		<div id="wrap">
			<div id="top_content">
				<div id="header">
					<div id="rightheader">
						<p>
							2009/11/20
							<br />
							<!--							href内容为屏蔽原始超链接-->
							<a href="javascript:;" @click="logout">安全退出</a>
						</p>
					</div>
					<div id="topheader">
						<h1 id="title">
							<a href="/emplist.html">main</a>
						</h1>
					</div>
					<div id="navigation">
					</div>
				</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						add Emp info:
					</h1>
					<form action="emplist.html" method="post">
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<tr>
								<td valign="middle" align="right">
									name:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" v-model="emp.name" />
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									photo:
								</td>
								<td valign="middle" align="left">
									<input type="file" ref="myPhoto" name="photo" />
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									salary:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" v-model="emp.salary" />
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									age:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" v-model="emp.age" />
								</td>
							</tr>
						</table>
						<p>
							<input type="button" @click="saveEmp" class="button" value="Confirm" />
						</p>
					</form>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script>
	var app = new Vue({
		el:"#wrap",
		data:{
			user:{},
			emp:{} ,// 定义员工信息
		},
		methods:{
			logout(){
				// localStorage内容清空即可
				localStorage.removeItem("user");
				location.reload(true);// 刷新页面
			},
			saveEmp(){
				console.log(this.emp)
				console.log(this.$refs.myPhoto.files[0]) // 可能会有多个文件
				var formData = new FormData()
				formData.append("name",this.emp.name);
				formData.append("salary",this.emp.salary);
				formData.append("age",this.emp.age);
				formData.append("photo",this.$refs.myPhoto.files[0])
				// 文件上传时必须是post方式，entype必须为multipart/form-data
				var _this = this
				axios({
					method:'post',
					url:"http://localhost:8080/emp/save",
					data:formData,
					headers:{
						'content-type':'multipart/form-data'
					}
				}).then(res=>{
					console.log(res.data)
					if (res.data.status){
						location.href="/emplist.html"
					}else {
						// 如果保存失败，则清空相关信息
						_this.emp = []
					}
				})
			}
		},
		created: function () {
			var userString = localStorage.getItem("user")

			if (userString != null){
				// 登录成功
				this.user = JSON.parse(userString);
			}else{
				alert("您尚未登录，点击确定跳转至登录")
				// 返回登录界面
				location.href="/login.html"
			}

			console.log(user)
		}
	})
</script>